/* Body */
body
{
    background-image: url(../images/background\(small\).png);
    scrollbar-color: #ffffff;
}

/* Anchor */
a
{
    text-decoration: none;
    color: #7c0a54;
}

a:hover
{
    text-shadow: 0px 0px 10px #f4d0fd;
    color: #61264c;
}

/* Box */
.box
{
    border: #000 solid 1px;
    padding: 10px;
}

/* --- Wrapper grid layout --- */
.wrapper
{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "b b"
    "n n"
    "ls m"
    "f f";
    grid-gap: 5px;
    font-family: 'Josefin Sans', sans-serif;
}

/* Logo */
.logo
{
    grid-area: l;
    background-image: url(../images/logo.png);
    height: 300px;
}

/* Banner */
.banner
{
    padding: 0%;
    grid-area: b;
    background-color: #BF2604;
    color: #ffffff;
    font-size: 60px;
    font-variant: small-caps;
    text-shadow: 0px 0px 20px #2e0b03;
}

/* Navigaton bar */
.nav
{
    grid-area: n;
    background-color: #D98E04;
    font-variant: small-caps;
    text-align: center;
    font-size: 40px;
}

/* Left side navigaton */
.left-side
{
    grid-area: ls;
    background-color: #F2BE22;
    font-variant: small-caps;
    border-radius: 5px;
    font-size: 20px;
    color: #000000;
}

/* Left side links */
a.left:link {
    text-decoration: none;
}
  
a.left:visited {
    text-decoration: line-through;
}
  
a.left:hover {
    text-decoration: none;
}
  
a.left:active {
    text-decoration: underline;
}

/* Main box */
.main
{
    padding: 0px;
    grid-area: m;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "mh mh"
    "ml mr";
    color: #27011a;
}

/* Main heading */
.main-head
{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    grid-area: mh;
    background-color: #F2B8DF;
}

/* Main left */
.main-left
{
    grid-area: ml;
    color: #2e0b03;
    background-color: #F2B8DF;
    border-bottom-left-radius: 20px;
}

/* link */
a.left
{
    color: #7c0a54;
}
  
/* mouse over link */
a.left:hover 
{
    color: #d13b9d;
}
  
/* selected link */
a.left:active 
{
    color: rgb(157, 93, 241);
}
  

/* Main right */
.main-right
{
    grid-area: mr;
    background-color: #F2B8DF;
    font-variant: small-caps;
}

/* Browse */
.browse
{
    grid-area: m;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
    background-color: #F2B8DF;
    color: #27011a;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    font-variant: small-caps;
}

/* Browse item */
.item
{
    padding: 10px;
}

/* Footer */
.footer
{
    grid-area: f;
    background-color: #BF2604;
    color: #f22233;
}

/* Inputs */
.input
{
    width: 1000px;
    color:#000;
    font-family: 'Josefin Sans', sans-serif;
}