/* Body */
body
{
    background-image: url(../images/background\(full\).png);
}

/* Box */
.box
{
    border: #000 solid 1px;
    padding: 10px;
}

/* --- Wrapper grid layout --- */
.wrapper
{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "l b"
    "n n"
    "ls m"
    "f f";
    grid-gap: 5px;
    font-family: 'Merriweather', serif;
}

/* Logo */
.logo
{
    grid-area: l;
    background-image: url(../images/logo.png);
    height: 300px;
}

/* Banner */
.banner
{
    grid-area: b;
    height: 300px;
    background-color: #730217cc;
    color: #f22233;
    font-size: 60px;
    text-align: center;
}

/* Navigaton bar */
.nav
{
    grid-area: n;
    background-color: #c616f2;
    font-size: 20px;
}

/* Left side navigaton */
.left-side
{
    grid-area: ls;
    background-color: aqua;
}

/* Main box */
.main
{
    grid-area: m;
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "mh mh"
    "ml mr";
    color: #27011a;
}

/* Main heading */
.main-head
{
    grid-area: mh;
    background-color: #795fd9;
}

/* Main left */
.main-left
{
    grid-area: ml;
    background-color: #795fd9e5;
}

/* Main right */
.main-right
{
    grid-area: mr;
    background-color: #795fd9b0;
}

/* Browse */
.browse
{
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

/* Browse item */
.item
{
    padding: 10px;
}

/* Footer */
.footer
{
    grid-area: f;
    background-color: #730217;
    color: #f22233;
}