/* Body */
body
{
    background-image: url(../images/background\(small\).png);
}

/* Anchor */
a
{
    text-decoration: none;
    color: #7c0a54;
}

a:hover
{
    text-shadow: 0px 0px 10px #f4d0fd;
    color: #61264c;
}

/* Box */
.box
{
    border: #000 solid 1px;
    padding: 10px;
}

/* --- Wrapper grid layout --- */
.wrapper
{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "lb lb"
    "n n"
    "ls m"
    "f f";
    grid-gap: 5px;
    font-family: 'Josefin Sans', sans-serif;
}

.logobanner
{
    padding: 0px;
    grid-area: lb;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "l b";
    background-color: #BF2604;
}

/* Logo */
.logo
{
    grid-area: l;
}

/* Banner */
.banner
{
    padding: 0%;
    grid-area: b;
    color: #ffffff;
    font-size: 60px;
    font-variant: small-caps;
    text-shadow: 0px 0px 20px #2e0b03;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Navigaton bar */
.nav
{
    grid-area: n;
    background-color: #D98E04;
    font-variant: small-caps;
    text-align: center;
    font-size: 40px;
}

/* Left side navigaton */
.left-side
{
    grid-area: ls;
    background-color: #F2BE22;
    font-variant: small-caps;
    border-radius: 5px;
    font-size: 20px;
    color: #000000;
}

/* Left side links */
a.left:link {
    text-decoration: none;
}
  
a.left:visited {
    text-decoration: line-through;
}
  
a.left:hover {
    text-decoration: none;
}
  
a.left:active {
    text-decoration: underline;
}

/* Main box */
.main
{
    padding: 0px;
    grid-area: m;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "mh mh"
    "ml mr";
    color: #27011a;
}

/* Main heading */
.main-head
{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-inline-start: #6239C3 solid 40px;
    writing-mode: horizontal-tb;
    grid-area: mh;
    background-color: #f2b8dff6;
    font-size: 30px;
}

/* Main left */
.main-left
{
    grid-area: ml;
    color: #2e0b03;
    background-color: #f2b8dfe7;
    border-bottom-left-radius: 25px;
    font-size: 18px;
}

/* link */
a.left
{
    color: #7c0a54;
}
  
/* mouse over link */
a.left:hover 
{
    color: #d13b9d;
}
  
/* selected link */
a.left:active 
{
    color: rgb(157, 93, 241);
}
  

/* Main right */
.main-right
{
    grid-area: mr;
    background-color: #F2B8DF;
    font-variant: small-caps;
    border-bottom-right-radius: 25px;
}

/* Browse */
.browse
{
    grid-area: m;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
    background-color: #f2b8dfde;
    color: #27011a;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    font-size: 40px;
    font-variant: small-caps;
}

/* Browse item */
.item
{
    padding: 10px;
}

/* Footer */
.footer
{
    grid-area: f;
    background-color: #BF2604;
    color: #000000;
}

/* Inputs */
input
{
    width: 500px;
    font-size: 20px;
    color:#000;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 5px;
}

textarea
{
    width: 700px;
    font-size: 20px;
    color:#000;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 5px;
}

button
{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #6239C3;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}